@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Cookie';
		src: 	url('/fonts/cookie-regular-webfont.woff2') format('woff2'),
					url('/fonts/cookie-regular-webfont.woff') format('woff');
		font-weight: 400;
		font-style: normal;
	}
	@font-face {
		font-family: 'Montserrat';
		src: 	url('/fonts/montserrat-regular-webfont.woff2') format('woff2'),
					url('/fonts/montserrat-regular-webfont.woff') format('woff');
		font-weight: 400;
		font-style: normal;
	}
	@font-face {
		font-family: 'Montserrat';
		src: 	url('/fonts/montserrat-semibold-webfont.woff2') format('woff2'),
					url('/fonts/montserrat-semibold-webfont.woff') format('woff');
		font-weight: 600;
		font-style: normal;
	}
	@font-face {
		font-family: 'Montserrat';
		src: 	url('/fonts/montserrat-bold-webfont.woff2') format('woff2'),
					url('/fonts/montserrat-bold-webfont.woff') format('woff');
		font-weight: 700;
		font-style: normal;
	}
	@font-face {
		font-family: 'Montserrat';
		src: 	url('/fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
					url('/fonts/montserrat-extrabold-webfont.woff') format('woff');
		font-weight: 800;
		font-style: normal;
	}
	html {
		font-size: 10px;
		@apply bg-jaguar font-base text-white;
	}

	strong {
		@apply font-semibold;
	}
}

@layer components {
	.content-style h2 {
		@apply text-3 text-seance relative pt-8 before:absolute before:top-0 before:content-[''] before:w-40 before:h-[2px] before:bg-bright;
	}
	.content-style * + h2 {
		@apply mt-20;
	}
	.content-style h3 {
		@apply text-5 text-bright;
	}
	.content-style h4 {
		@apply text-5 text-seance;
	}
	.content-style p {
		@apply text-6;
	}
	.content-style p a,
	.content-style ul li a,
	.content-style ol li a {
		@apply underline font-semibold text-electric hover:text-bright transition-colors;
	}
	.content-style ul,
	.content-style ol {
		@apply flex flex-col gap-4;
	}
	.content-style ul li,
	.content-style ol li {
		@apply relative text-6 before:absolute before:left-0 pl-12;
	}
	.content-style ul li {
		@apply before:content-[''] before:w-3 before:h-3 before:bg-electric before:top-3 before:rounded-full;
	}
	.content-style ol {
		counter-reset: item;
	}
	.content-style ol li:before {
		content: counter(item) '.';
		counter-increment: item;
		@apply text-electric font-semibold;
	}
	.content-style img {
		@apply overflow-hidden rounded-lg;
	}
	.content-style ul li ul {
		@apply mt-4;
	}
}

@layer utilities {
	.small-container {
		@apply mx-auto w-full max-lg:px-[5%] lg:max-w-[90rem];
	}
	.big-container {
		@apply mx-auto w-full max-xl:px-[5%] xl:max-w-[120rem];
	}
	.text-outline {
		-webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
		@apply text-transparent;
	}
	.iframe-div {
    @apply relative overflow-hidden w-full pt-[56.25%];
  }
  .iframe-div iframe,
	.iframe-div blockquote {
    @apply w-full h-full absolute inset-0;
  }
}
